@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fredoka:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body { 
    font-family: Fredoka, sans-serif;
    font-weight: 300;
    color: #fff;
     
}

/* Headings and logo */

#logo {
    float: left;
    font-size: 200%;
    font-family: Fredericka the Great, sans-serif;
    color: #eae7dc;
    letter-spacing: 2px;
    margin-left: 30px;
    clear: both;
  
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: block;
    height: 75px;
    background-color: #afd275;
    margin-top: 40px;
    margin-bottom: 80px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;  
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #eae7dc;
}

.active {
    border-bottom: 1px solid #eae7dc;
}

    /* Who we are section */
    
    
    #about-us {
        color: #afd275;
    }

/* center of home page  images and tagline*/

.tagline {
    font-style: oblique;
    color: #afd275;
    font-family: fredoka, sans-serif;
    text-align: center;
    margin: 100px;
    font-size: 50px;
}

#center-images {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    padding-left: 100px;
    padding-inline-end: 100px;
    border: #dac50d 4px;
    border-top-style: groove;
    border-bottom-style: groove;
}




    /* Times */
    
.times {
    background-color: #afd275;
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border: #dac50d;
}

#times-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    
}

