@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fredoka:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body { 
    font-family: Fredoka, sans-serif;
    font-weight: 300;
    color: #fff;
     
}

/* Headings and logo */

#logo {
    float: left;
    font-size: 200%;
    font-family: Fredoka, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    margin-left: 30px;
    clear: both;
  
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: block;
    height: 75px;
    background-color: #afd275;
    margin-bottom: 80px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;  
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #eae7dc;
}

.active {
    border-bottom: 1px solid #eae7dc;
}

    /* Who we are section */
    
    
    #about-us {
        justify-content: center;
        width: 80%;
        height: 100px;
        background: #979582;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;
     }

/* center of home page  images and tagline*/

.tagline {
    font-style: oblique;
    color: #979582;
    font-family: fredoka, sans-serif;
    text-align: center;
    margin: 50px;
    font-size: 50px;
}

#center-images {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    padding-left: 100px;
    padding-inline-end: 100px;
    border: #dac50d 4px;
    border-top-style: groove;
    border-bottom-style: groove;
}




    /* Times */
    
.times {
    background-color: #afd275;
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border: #dac50d;
}

#times-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    
}

/* map and footer */
footer {
    background-color: #afd275;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

footer > a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    
}

/* Products Page*/
.product-description {
    text-align: center;
    font-style: oblique;
    color: #979582;
    letter-spacing: 1px;
}

.product-images {
    display: flex;
    height: 300px;
    width: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    display: inline-block;
    padding: 30px 80px 30px 80px;
}